{% extends 'base.html.twig' %}

{% block title %}Create new Mechanic!{% endblock %}

{% block body %}
    <h1 class="title">Create new Mechanic!</h1>
    <div class="list">
        <form action="{{path('mechanic_store')}}" method="POST">
            <div class="create-name">Name: <input class="input" type="text" name="mechanic_name"></div>
            <div class="create-surname">Surname: <input class="input" type="text" name="mechanic_surname"></div>
            <div class="add-btn">
                <button  class="add" type="submit">Add new Mechanic</button>
            </div>
        </form>
    </div>
{% endblock %}