{% extends 'base.html.twig' %}

{% block title %}Edit Mechanic!{% endblock %}

{% block body %}
    <h1 class="title">Edit Mechanic!</h1>
    <div class="list">
        <form action="{{path('mechanic_update', {id: mechanic.id})}}" method="POST">
            <div class="create-name">Name: <input class="input" type="text" name="mechanic_name" value="{{mechanic.name}}"></div>
            <div class="create-surname">Surname: <input class="input" type="text" name="mechanic_surname" value="{{mechanic.surname}}"></div>
            <div class="add-btn">
                <button class="add" type="submit">Edit Mechanic</button>
            </div>
        </form>
    </div>
{% endblock %}