{% extends 'base.html.twig' %}

{% block title %}Mechanics List!{% endblock %}

{% block body %}

    <h1>Mechanics in Library ✅</h1>

    List:
    <ul>
    {% for mechanic in mechanics %}
        <li>
        {{mechanic.name}} {{mechanic.surname}}
        <a href="{{ path('mechanic_edit', {id: mechanic.id}) }}">Edit</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}