body {
    background-color:#ebdedb;
    width: 100%;
    position: relative;
   
}
.circle {
    top: 260px;
    left: -45px;
    display: block;
    content: '';
    height: 150px;
    width: 150px;
    background-color: #fff;
    position: absolute;
    overflow: visible;
    opacity: 0.1;
    border-radius: 50%;
}
.circle2 {
    top: 30px;
    right: -50px;
    display: block;
    content: '';
    height: 150px;
    width: 150px;
    background-color: #000;
    position: absolute;
    overflow: visible;
    opacity: 0.05;
    border-radius: 50%;
}
.block {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #620808;
}
.container {
    display: block;
    float: left;
    background-color: #620808;
    width: 100%;
    max-width: 900px;
    margin-top: 80px;
    border-radius: 20px;
    position: absolute;
}
    .container .menu {
        width: 180px;
        float:left;
        padding-top: 55px;
        background-color: #620808;
        color: #fff;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
    .container .menu .logo-full {
        display: inline-block;
        width: 100%;
        max-width: 180px;
    }
    .container .menu .logo-img {
        display: inline-block;
        float: left;
        width: 30%;
        margin-left: 20px;
    }
    .container .menu .name {
        display: inline-block;
        float: left;
        text-decoration: none;
        width: 50%;
        margin-top: 10px;
    }
    .container .menu .name .name1 {
        text-decoration: none;
        width: 50%;
        color: #ebebeb;
        font-size: 23px;
        line-height: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
    .container .menu .name .name2 {
        text-decoration: none;
        width: 50%;
        color: #ebebeb;
        font-size: 23px;
        line-height: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
    nav {
        display: inline-block;
        float: right;
        margin-left: 10px;
        margin-top: 30px;
    }
    nav a:first-child {
        margin-top: 30px;
    }
    nav a:last-child {
        margin-bottom: 30px;
    }
    nav a {
        display: inline-block;
        float: left;
        margin-left: 30px;
        padding-bottom: 10px;
        color: #ffff;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        margin-top: 5px;
        padding: 5px 0;
    }
    nav > a::after {
        display: inline-block;
        content: '';
        height: 1px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 50%;
        transition: all 0.2s;
    }
    nav > a:hover::after {
        left: 0;
        right: 0;
    }
    .container1 {
        width:calc(100% - 180px);
        float: left;
        min-height: 345px;
        background-color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        border-left: 1px solid #E5E5E5;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        padding-bottom: 70px;
    }
        .title {
            text-align: center;
            font-weight: 400;
            margin: 70px 0 30px;
            position: relative;
        }
        .title::after {
            width: 100px;
            height: 3px;
            background: #353b5d;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: -5px;
        }
        .title2 {
            margin-bottom: 10px;
            font-size: 18px;
        }
        .list {
            display: inline-block;
            float: left;
            width: 100%;
            border-bottom: 1px solid #353b5d;
            margin-top: 10px;
        }
        .list:last-child {
            border: none;
        }
        .name-surname {
            display: inline-block;
            float: left;
            width: 25%;
            margin-top: 5px;
        }
        .name-prop {
            display: inline-block;
            float: left;
            width: 45%;
        }
        .name-prop1 {
            border-left: 1px solid #353b5d; 
            padding-left: 5px;
        }
        .edit, .add {
            text-decoration: none;
            border: 1px solid #E5E5E5;
            border-radius: 10px;
            padding: 3px 10px;
            text-transform: uppercase;
            font-size: 15px;
            background-color: #b2b2b2;
            color: #fff;
        }
        .delete {
            text-decoration: none;
            border: 1px solid #E5E5E5;
            border-radius: 10px;
            color: #fff;
            padding: 3px 10px;
            background-color: #dc0203;
            text-transform: uppercase;
            font-size: 15px;
            margin-bottom: 10px;
        }
        .edit:hover, .add:hover{
            background-color:  #ECECEC;
            color: #3C3A3A;
            text-transform: uppercase;
            outline: #1F1F1F;
        }
        .delete:hover{
            background-color:  #ff9797;
            color: #000;
            text-transform: uppercase;
            outline: #1F1F1F;
        }
        .count {
            display: inline-block;
            float: left;
            width: 13%;
            margin-top: 5px;
        }
        .add {
            border: 2px solid #E5E5E5;
            padding: 5px 10px;
        }
        .delete-btn{
            display: inline-block;
            float:right;
            width:20%;
        }
        .edit-btn {
            display: inline-block;
            float:right;
            width:21%;
            margin-top: 5px;
        }
        .add-btn{
            display: inline-block;
            float:left;
            width:27%;
            padding-top: 24px;
        }
        .create-name, .create-surname {
            display: inline-block;
            float: left;
            width: 35%;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 10px;
        }
        .input {
            line-height: 25px;
            border: 2px solid #E5E5E5;
            border-radius: 5px;
            width:85%;
            outline: none;
            padding-left: 5px;
        }
        .select {
            margin-bottom: 20px;
            height: 29px;
            border: 2px solid #E5E5E5;
            border-radius: 5px;
            outline: none;
            margin-top: 25px;
            width: 25%;
        }
        .fas {
            display: inline-block;
                    color: #000;
                    text-decoration: none;
                    border: 0.5px solid #fff;
                    height: 25px;
                    width: 25px;
                    font-size: 15px;
                    line-height: 25px;
                    text-align: center;
                    border-radius: 50%;
        }
        .clear-btn {
            display: inline-block;
            float:left;
            width:20%;
            margin-top: 5px;
        }
        .sort-btn {
            display: inline-block;
            float:left;
            margin-left: 20px;
            width:20%;
        }
        .select-sort {
            display: inline-block;
            float: left;
            height: 29px;
            border: 2px solid #E5E5E5;
            border-radius: 5px;
            outline: none;
            width: 25%;
        }
        .sort {
            display: inline-block;
            float: left;
            width: 100%;
        }
        .title-sort {
            display: inline-block;
            float: left;
            width: 30%;
        }
        .select-filter {
            display: inline-block;
            float: left;
            height: 29px;
            border: 2px solid #E5E5E5;
            border-radius: 5px;
            outline: none;
            width: 20%;
        }
        .title-filter {
            display: inline-block;
            float: left;
            width: 17%;
        }