<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
       
        <link href="http://localhost:8888/dashboard/sunkvezimiu_garazas/public/build/app.css" rel="stylesheet"/>

        <link href="{{ asset('css/layout.css') }}" rel="stylesheet"/>

        <script src="http://localhost:8888/dashboard/sunkvezimiu_garazas/public/build/app.js" defer></script>

<!-- include libraries(jQuery, bootstrap) -->



<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
    {% if errors is defined and errors|length > 0 %}
    {% include 'msg/validation.html.twig' %}
    {% endif %}
    {% if success is defined and success|length > 0 %}
    {% include 'msg/success.html.twig' %}
    {% endif %}
    <div class="block">
        <div class="circle"></div>
        <div class="circle2"></div>
        <div class="container-block"> 
            <div class="menu">
                <div class="logo-full">
                    <img class="logo-img" src="{{ asset('img/truck.png')}}" alt="truck">
                    <div class="name">
                        <a class="name1" href="http://localhost:8888/dashboard/sunkvezimiu_garazas/public/index.php/mechanic">Truck</a>
                        <a  class="name2" href="http://localhost:8888/dashboard/sunkvezimiu_garazas/public/index.php/mechanic">garage</a>
                    </div>
                </div>
                <nav>
                <a class="nav-a" href="http://localhost:8888/dashboard/sunkvezimiu_garazas/public/index.php/mechanic">Mechanics</a>
                <a class="nav-a" href="http://localhost:8888/dashboard/sunkvezimiu_garazas/public/index.php/mechanic/create">Add mechanic</a>
                <a class="nav-a" href="http://localhost:8888/dashboard/sunkvezimiu_garazas/public/index.php/truck">Trucks</a>
                <a class="nav-a" href="http://localhost:8888/dashboard/sunkvezimiu_garazas/public/index.php/truck/create">Add truck</a>
                <a class="loggout nav-a " href="{{ path('app_logout') }}">Logout</a>
                <a class="nav-user" href="#">{{ app.user.username }}</a>
                </nav>
            </div>
            <div class="container1">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>